:root {
  scroll-behavior: smooth;
  scrollbar-color: var(--bs-dark) var(--bs-gray-300);
  scrollbar-width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--bs-dark);
}

::-webkit-scrollbar {
  background-color: var(--bs-gray-300);
  width: 8px;
}

@mixin background {
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin travel-card {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 342px;
}

footer ul li a {
  color: var(--bs-white);
  text-decoration: none;
}

#showcase {
  @include background;

  background-image: url("../../assets/images/travel-showcase.jpg");
}

#message {
  @include background;

  background-image: url("../../assets/images/map.jpg");
  height: 40vh;
}

#rome {
  @include background;
  @include travel-card;

  background-image: url("../../assets/images/rome.jpg");
}

#paris {
  @include background;
  @include travel-card;

  background-image: url("../../assets/images/paris.jpg");
}

#venice {
  @include background;
  @include travel-card;

  background-image: url("../../assets/images/venice.jpg");
}

#mountains {
  @include background;

  background-image: url("../../assets/images/mountains.jpg");
  height: 100vh;
}

#snow-resort {
  @include background;

  background-image: url("../../assets/images/snow-resort.jpg");
  height: 100vh;
}

#travel-guides {
  @include background;

  background-image: url("../../assets/images/map.jpg");
}

#map {
  height: 300px;
}

/* Bootstrap */
.bi {
  color: var(--bs-dark);

  &:hover {
    color: var(--bs-link-color);
  }
}

.navbar {
  backdrop-filter: blur(8px);
}

.nav-link {
  color: var(--bs-white);
}

.modal-content {
  backdrop-filter: blur(32px);
}

.card {
  backdrop-filter: blur(32px);
  border: none;
  overflow: auto;
  transition: transform linear 0.2s;

  &:hover {
    transform: scale(1.1);
  }
}

.card-text {
  font-size: 1.375rem;
}

/*Media */
@media (min-width: 768px) {
  .news-input {
    width: 50%;
  }
}
